{% extends 'base.html' %}

{% block title %}Home - Von Lipwig{% endblock %}

{% block content %}
<form id="msg_form" method="post">
    <fieldset>
        <legend>the Post Master will deliver the messages.......anytime now</legend>
        {% csrf_token %}
        <div class="user_email">
            <label for="mail">Enter your email:</label><br>
            <input type="email" id="mail" name="mail" required><br><br>
        </div>
        <div class="recipients_mail">
            <p style="color: black;">Add upto 10 recipients!</p>
        </div>
        <button id="add_more" type="button">Add More Recipients</button><br><br>
        <div class="content">
            <label for="subject">Enter subject:</label><br>
            <input type="text" id="subject" name="subject" required><br><br>
            <label for="message">Enter your message:</label><br>
            <input type="text" id="message" name="message" required><br><br>
        </div>
        <input type="submit" value="Submit">
    </fieldset>
</form>
<script>
    document.getElementById('add_more').addEventListener('click', function() {
        const recipientsDiv = document.querySelector('.recipients_mail');
        var newRecipient = document.createElement('input');
        newRecipient.type = 'email';
        newRecipient.id = 'recipient' + (recipientsDiv.getElementsByTagName('input').length + 1);
        newRecipient.required = true;
        newRecipient.placeholder = 'Enter the recipients email';
        recipientsDiv.appendChild(newRecipient);
        var delBttn = document.createElement('button');
        delBttn.type = 'button';
        delBttn.innerText = 'Remove';
        delBttn.addEventListener('click', function() {
            recipientsDiv.removeChild(newRecipient);
            recipientsDiv.removeChild(delBttn);
        });
        recipientsDiv.appendChild(delBttn);
        recipientsDiv.appendChild(document.createElement('br'));
    });
</script>
{% endblock %}