<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Post Station</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Welcome to the Post Station</h1>
    <form action="/post-letter" method="POST" enctype="multipart/form-data">
        <div>
            <label>Your Email:</label><br>
            <input type="email" name="sender_email" required>
        </div>

        <div>
            <label>Recipients (emails):</label><br>
            <div class="recipients">
                <input type="text" name="recipients" placeholder="email1@example.com, email2@example.com" required>
            </div>
            <div class="error">
                <!--error message-->
            </div>
            <div class="recipient-controls">
                <button type="button" onclick="addRecipientField()">+ Add</button>
                <button type="button" onclick="removeRecipientField()" style="color: #e74c3c;">- Remove</button>
            </div>
        </div>

        <div>
            <label>Message:</label><br>
            <textarea name="message" rows="5" required></textarea>
        </div>

        <div>
            <label>Images:</label><br>
            <input type="file" name="images" accept="image/*" multiple>
        </div>

        <div>
            <label>Attachments:</label><br>
            <input type="file" name="attachments" multiple>
        </div>

        <br>
        <button type="submit">Send Post</button>
    </form>
</body>
<script type="text/javascript">
    function addRecipientField() {
        const recipientsDiv = document.querySelector('.recipients');
        const error = document.querySelector('.error');
        //clear if there war an error
        error.innerHTML = '';
        if (recipientsDiv.childElementCount >= 8) {
            //alert('You can only add up to 8 recipients');
            error.innerHTML = 'You can only add up to 8 recipients';
            error.style.color = 'red';
            return;
        }
        const input = document.createElement('input');
        input.type = 'text';
        input.name = 'recipients';
        input.placeholder = 'email1@example.com, email2@example.com';
        recipientsDiv.appendChild(input);
    }
    function removeRecipientField() {
        const recipientsDiv = document.querySelector('.recipients');
            const error = document.querySelector('.error');
            error.innerHTML = '';//clear previous error
        //dont remove if only one
        if (recipientsDiv.childElementCount <= 1) {
            //alert('You must have at least one recipient');
            error.innerHTML = 'You must have at least one recipient';
            error.style.color = 'red';
            return;
        }
        recipientsDiv.removeChild(recipientsDiv.lastElementChild);
    }
</script>
</html>